.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #0aff0a;
  --secondary-color: #2ad32a;
  --inverted-primary-color: #081742;
  --inverted-secondary-color: #0449e0;
}
